In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
path='train_BRCpofr.csv'
data=pd.read_csv(path)
data2=pd.read_csv(path)
data3=pd.read_csv(path)

In [3]:
data.head()

,id,gender,area,qualification,income,marital_status,vintage,claim_amount,num_policies,policy,type_of_policy,cltv
0,1,Male,Urban,Bachelor,5L-10L,1,5,5790,More than 1,A,Platinum,64308
1,2,Male,Rural,High School,5L-10L,0,8,5080,More than 1,A,Platinum,515400
2,3,Male,Urban,Bachelor,5L-10L,1,8,2599,More than 1,A,Platinum,64212
3,4,Female,Rural,High School,5L-10L,0,7,0,More than 1,A,Platinum,97920
4,5,Male,Urban,High School,More than 10L,1,6,3508,More than 1,A,Gold,59736

In [4]:
data['cltv'].describe()

count     89392.000000
mean      97952.828978
std       90613.814793
min       24828.000000
25%       52836.000000
50%       66396.000000
75%      103440.000000
max      724068.000000
Name: cltv, dtype: float64

In [5]:
data.columns

Index(['id', 'gender', 'area', 'qualification', 'income', 'marital_status',
       'vintage', 'claim_amount', 'num_policies', 'policy', 'type_of_policy',
       'cltv'],
      dtype='object')

In [6]:
data.shape

(89392, 12)

In [31]:
data.describe

<bound method NDFrame.describe of           id    income  marital_status   vintage  claim_amount  num_policies  \
0          1 -0.096748               1  0.176531      0.440940             1
1          2 -0.096748               0  1.486327      0.223305             1
2          3 -0.096748               1  1.486327     -0.537192             1
3          4 -0.096748               0  1.049728     -1.333859             1
4          5  2.058917               1  0.613129     -0.258557             1
...      ...       ...             ...       ...           ...           ...
89387  89388  2.058917               0  0.613129     -1.333859             1
89388  89389 -0.096748               1 -2.006463     -0.139318             1
89389  89390 -0.096748               0 -0.260068     -0.303004             1
89390  89391 -1.174581               0  1.486327     -1.333859             1
89391  89392 -0.096748               0  0.613129     -1.333859             1

       type_of_policy    cltv  Prominence  gender_Female  gender_Male  \
0            0.849352   64308           0              0            1
1            0.849352  515400           1              0            1
2            0.849352   64212           0              0            1
3            0.849352   97920           1              1            0
4           -0.363395   59736           0              0            1
...               ...     ...         ...            ...          ...
89387        0.849352   95736           1              0            1
89388        0.849352   67596           1              0            1
89389        0.849352  114120           1              1            0
89390        0.849352   71772           1              1            0
89391       -0.363395  108144           1              1            0

       area_Rural  area_Urban  qualification_Bachelor  \
0               0           1                       1
1               1           0                       0
2               0           1                       1
3               1           0                       0
4               0           1                       0
...           ...         ...                     ...
89387           1           0                       0
89388           0           1                       1
89389           0           1                       1
89390           1           0                       0
89391           1           0                       0

       qualification_High School  qualification_Others  policy_A  policy_B  \
0                              0                     0         1         0
1                              1                     0         1         0
2                              0                     0         1         0
3                              1                     0         1         0
4                              1                     0         1         0
...                          ...                   ...       ...       ...
89387                          1                     0         0         1
89388                          0                     0         1         0
89389                          0                     0         0         1
89390                          1                     0         0         1
89391                          1                     0         0         1

       policy_C
0             0
1             0
2             0
3             0
4             0
...         ...
89387         0
89388         0
89389         0
89390         0
89391         0

[89392 rows x 19 columns]>

In [8]:
data.isnull().sum()

id                0
gender            0
area              0
qualification     0
income            0
marital_status    0
vintage           0
claim_amount      0
num_policies      0
policy            0
type_of_policy    0
cltv              0
dtype: int64

In [9]:
print('income: ',data['income'].unique())
print('Gender: ',data['gender'].unique())
print('Area:  ',data['area'].unique())
print('Marital status: ',data['marital_status'].unique())
print('Number of Policies: ',data['num_policies'].unique())
print('policy: ',data['policy'].unique())
print('Type of policy: ',data['type_of_policy'].unique())
print("Number of policies: ",data['num_policies'].unique())

income:  ['5L-10L' 'More than 10L' '2L-5L' '<=2L']
Gender:  ['Male' 'Female']
Area:   ['Urban' 'Rural']
Marital status:  [1 0]
Number of Policies:  ['More than 1' '1']
policy:  ['A' 'C' 'B']
Type of policy:  ['Platinum' 'Gold' 'Silver']
Number of policies:  ['More than 1' '1']

In [10]:
cltv_median = data['cltv'].median()
print(cltv_median)

66396.0

In [12]:
data['Prominence']=(data['cltv']>=cltv_median).astype(int)

In [13]:
print(f"Median CLTV: {cltv_median}")
print("\nFirst 5 rows with new prominence column:")
print(data[['cltv', 'Prominence']].head())
print("\nProminence value counts:")
print(data['Prominence'].value_counts())

Median CLTV: 66396.0

First 5 rows with new prominence column:
     cltv  Prominence
0   64308           0
1  515400           1
2   64212           0
3   97920           1
4   59736           0

Prominence value counts:
Prominence
1    44715
0    44677
Name: count, dtype: int64

In [14]:
data.head()

,id,gender,area,qualification,income,marital_status,vintage,claim_amount,num_policies,policy,type_of_policy,cltv,Prominence
0,1,Male,Urban,Bachelor,5L-10L,1,5,5790,More than 1,A,Platinum,64308,0
1,2,Male,Rural,High School,5L-10L,0,8,5080,More than 1,A,Platinum,515400,1
2,3,Male,Urban,Bachelor,5L-10L,1,8,2599,More than 1,A,Platinum,64212,0
3,4,Female,Rural,High School,5L-10L,0,7,0,More than 1,A,Platinum,97920,1
4,5,Male,Urban,High School,More than 10L,1,6,3508,More than 1,A,Gold,59736,0

In [15]:
data['Prominence'].value_counts()

Prominence
1    44715
0    44677
Name: count, dtype: int64

In [16]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [35]:
#label encoding for income, policy and type of policy


     # Ordered categories 0:More than 10L, 1:5L-10L, 2:2L-5L
      # Platinum > Gold > Silvev

In [17]:
data['income'] = le.fit_transform(data['income'])
data['type_of_policy'] = data['type_of_policy'].map({'Silver': 0, 'Gold': 1, 'Platinum': 2})
data['num_policies'] = le.fit_transform(data['num_policies'])

In [19]:
# Convert columns to strings (if they contain Boolean values)
data['gender'] = data['gender'].astype(str)
data['area'] = data['area'].astype(str)
data['qualification'] = data['qualification'].astype(str)
data['policy'] = data['policy'].astype(str)

# Apply get_dummies
data = pd.get_dummies(data, columns=['gender', 'area', 'qualification', 'policy'])

In [22]:
data.head()

,id,income,marital_status,vintage,claim_amount,num_policies,type_of_policy,cltv,Prominence,gender_Female,gender_Male,area_Rural,area_Urban,qualification_Bachelor,qualification_High School,qualification_Others,policy_A,policy_B,policy_C
0,1,1,1,5,5790,1,2,64308,0,0,1,0,1,1,0,0,1,0,0
1,2,1,0,8,5080,1,2,515400,1,0,1,1,0,0,1,0,1,0,0
2,3,1,1,8,2599,1,2,64212,0,0,1,0,1,1,0,0,1,0,0
3,4,1,0,7,0,1,2,97920,1,1,0,1,0,0,1,0,1,0,0
4,5,3,1,6,3508,1,1,59736,0,0,1,0,1,0,1,0,1,0,0

In [21]:
# Convert all Boolean columns to integers
data = data.applymap(lambda x: 1 if x is True else (0 if x is False else x))

C:\Users\amgot\AppData\Local\Temp\ipykernel_11316\1779113461.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(lambda x: 1 if x is True else (0 if x is False else x))

In [24]:
df=data.drop(['cltv'],axis=1)
print(df.head())

   id  income  marital_status  vintage  claim_amount  num_policies  \
0   1       1               1        5          5790             1
1   2       1               0        8          5080             1
2   3       1               1        8          2599             1
3   4       1               0        7             0             1
4   5       3               1        6          3508             1

   type_of_policy  Prominence  gender_Female  gender_Male  area_Rural  \
0               2           0              0            1           0
1               2           1              0            1           1
2               2           0              0            1           0
3               2           1              1            0           1
4               1           0              0            1           0

   area_Urban  qualification_Bachelor  qualification_High School  \
0           1                       1                          0
1           0                       0                          1
2           1                       1                          0
3           0                       0                          1
4           1                       0                          1

   qualification_Others  policy_A  policy_B  policy_C
0                     0         1         0         0
1                     0         1         0         0
2                     0         1         0         0
3                     0         1         0         0
4                     0         1         0         0

In [25]:
from sklearn.preprocessing import StandardScaler
cols_to_scale=['claim_amount','income','vintage','type_of_policy']
scaler = StandardScaler()

In [26]:
data[cols_to_scale]=scaler.fit_transform(data[cols_to_scale])

In [27]:
data.head()

,id,income,marital_status,vintage,claim_amount,num_policies,type_of_policy,cltv,Prominence,gender_Female,gender_Male,area_Rural,area_Urban,qualification_Bachelor,qualification_High School,qualification_Others,policy_A,policy_B,policy_C
0,1,-0.096748,1,0.176531,0.440940,1,0.849352,64308,0,0,1,0,1,1,0,0,1,0,0
1,2,-0.096748,0,1.486327,0.223305,1,0.849352,515400,1,0,1,1,0,0,1,0,1,0,0
2,3,-0.096748,1,1.486327,-0.537192,1,0.849352,64212,0,0,1,0,1,1,0,0,1,0,0
3,4,-0.096748,0,1.049728,-1.333859,1,0.849352,97920,1,1,0,1,0,0,1,0,1,0,0
4,5,2.058917,1,0.613129,-0.258557,1,-0.363395,59736,0,0,1,0,1,0,1,0,1,0,0

In [29]:
test_path='test_koRSKBP.csv'
test_data=pd.read_csv(test_path)

In [32]:
test_data.head()

,id,gender,area,qualification,income,marital_status,vintage,claim_amount,num_policies,policy,type_of_policy
0,89393,Female,Rural,High School,5L-10L,0,6,2134,More than 1,B,Silver
1,89394,Female,Urban,High School,2L-5L,0,4,4102,More than 1,A,Platinum
2,89395,Male,Rural,High School,5L-10L,1,7,2925,More than 1,B,Gold
3,89396,Female,Rural,Bachelor,More than 10L,1,2,0,More than 1,B,Silver
4,89397,Female,Urban,High School,2L-5L,0,5,14059,More than 1,B,Silver

In [33]:
test_data.describe()

                  id  marital_status       vintage  claim_amount
count   59595.000000    59595.000000  59595.000000  59595.000000
mean   119190.000000        0.576928      4.620304   4368.504321
std     17203.738983        0.494051      2.282511   3288.132408
min     89393.000000        0.000000      0.000000      0.000000
25%    104291.500000        0.000000      3.000000   2398.000000
50%    119190.000000        1.000000      5.000000   4106.000000
75%    134088.500000        1.000000      6.000000   6104.000000
max    148987.000000        1.000000      8.000000  32534.000000

In [34]:
test_data.columns

Index(['id', 'gender', 'area', 'qualification', 'income', 'marital_status',
       'vintage', 'claim_amount', 'num_policies', 'policy', 'type_of_policy'],
      dtype='object')

# splitting the data for train and test

In [50]:
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout

In [37]:
train_data=data

In [39]:
train_data.shape

(89392, 19)

In [74]:
X=train_data.drop(['Prominence','id'],axis=1)
y=train_data['Prominence']

In [75]:
X.head()

,income,marital_status,vintage,claim_amount,num_policies,type_of_policy,cltv,gender_Female,gender_Male,area_Rural,area_Urban,qualification_Bachelor,qualification_High School,qualification_Others,policy_A,policy_B,policy_C
0,-0.096748,1,0.176531,0.440940,1,0.849352,64308,0,1,0,1,1,0,0,1,0,0
1,-0.096748,0,1.486327,0.223305,1,0.849352,515400,0,1,1,0,0,1,0,1,0,0
2,-0.096748,1,1.486327,-0.537192,1,0.849352,64212,0,1,0,1,1,0,0,1,0,0
3,-0.096748,0,1.049728,-1.333859,1,0.849352,97920,1,0,1,0,0,1,0,1,0,0
4,2.058917,1,0.613129,-0.258557,1,-0.363395,59736,0,1,0,1,0,1,0,1,0,0

In [76]:
print(X.shape)

(89392, 17)

In [77]:
print(y.head())

0    0
1    1
2    0
3    1
4    0
Name: Prominence, dtype: int64

In [78]:
print(y.shape)

(89392,)

In [79]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.3, random_state=42)

In [80]:
print(X_train.shape)
print(X_val.shape)
print(y_train.shape)
print(y_val.shape)

(62574, 17)
(26818, 17)
(62574,)
(26818,)

In [82]:

# Build the ANN model
model = Sequential()

# Input layer
model.add(Dense(64, input_dim=X_train.shape[1], activation='relu'))

# Hidden layers
model.add(Dense(32, activation='relu'))
model.add(Dropout(0.2))  # Dropout to prevent overfitting
model.add(Dense(16, activation='relu'))

# Output layer
model.add(Dense(1, activation='sigmoid'))  # Sigmoid for binary classification

# Compile the model
model.compile(optimizer='adam', 
              loss='binary_crossentropy',  # Binary cross-entropy loss for classification
              metrics=['accuracy'])

# Print the model summary
model.summary()

# Train the model
history = model.fit(X_train, y_train, 
                    validation_data=(X_val, y_val),
                    epochs=50, 
                    batch_size=32, 
                    verbose=1)

c:\Users\amgot\AppData\Local\Programs\Python\Python310\lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_2"

 Layer (type)                     Output Shape                  Param #

 dense_8 (Dense)                  (None, 64)                      1,152

 dense_9 (Dense)                  (None, 32)                      2,080

 dropout_2 (Dropout)              (None, 32)                          0

 dense_10 (Dense)                 (None, 16)                        528

 dense_11 (Dense)                 (None, 1)                          17

 Total params: 3,777 (14.75 KB)

 Trainable params: 3,777 (14.75 KB)

 Non-trainable params: 0 (0.00 B)

Epoch 1/50
1956/1956  20s 7ms/step - accuracy: 0.6193 - loss: 97.5283 - val_accuracy: 0.8325 - val_loss: 0.4033
Epoch 2/50
1956/1956  13s 7ms/step - accuracy: 0.8777 - loss: 0.3731 - val_accuracy: 0.8503 - val_loss: 0.3136
Epoch 3/50
1956/1956  13s 7ms/step - accuracy: 0.8695 - loss: 0.3463 - val_accuracy: 0.8520 - val_loss: 0.2902
Epoch 4/50
1956/1956  13s 6ms/step - accuracy: 0.7904 - loss: 0.4887 - val_accuracy: 0.7677 - val_loss: 0.4212
Epoch 5/50
1956/1956  13s 7ms/step - accuracy: 0.7824 - loss: 0.4280 - val_accuracy: 0.7312 - val_loss: 0.4489
Epoch 6/50
1956/1956  14s 7ms/step - accuracy: 0.7890 - loss: 0.4037 - val_accuracy: 0.8676 - val_loss: 0.2728
Epoch 7/50
1956/1956  14s 7ms/step - accuracy: 0.7912 - loss: 0.3881 - val_accuracy: 0.8521 - val_loss: 0.2809
Epoch 8/50
1956/1956  14s 7ms/step - accuracy: 0.7947 - loss: 0.3754 - val_accuracy: 0.7994 - val_loss: 0.4139
Epoch 9/50
1956/1956  14s 7ms/step - accuracy: 0.7535 - loss: 0.4719 - val_accuracy: 0.5007 - val_loss: 0.6931
Epoch 10/50
1956/1956  21s 7ms/step - accuracy: 0.5017 - loss: 0.6932 - val_accuracy: 0.4993 - val_loss: 0.6932
Epoch 11/50
1956/1956  14s 7ms/step - accuracy: 0.5015 - loss: 0.6932 - val_accuracy: 0.5007 - val_loss: 0.6932
Epoch 12/50
1956/1956  14s 7ms/step - accuracy: 0.5012 - loss: 0.6932 - val_accuracy: 0.5007 - val_loss: 0.6932
Epoch 13/50
1956/1956  14s 7ms/step - accuracy: 0.5013 - loss: 0.6932 - val_accuracy: 0.4993 - val_loss: 0.6932
Epoch 14/50
1956/1956  14s 7ms/step - accuracy: 0.5034 - loss: 0.6931 - val_accuracy: 0.5007 - val_loss: 0.6931
Epoch 15/50
1956/1956  14s 7ms/step - accuracy: 0.5028 - loss: 0.6932 - val_accuracy: 0.4993 - val_loss: 0.6932
Epoch 16/50
1956/1956  21s 7ms/step - accuracy: 0.5010 - loss: 0.6932 - val_accuracy: 0.4993 - val_loss: 0.6932
Epoch 17/50
1956/1956  25s 9ms/step - accuracy: 0.5012 - loss: 0.6932 - val_accuracy: 0.4993 - val_loss: 0.6932
Epoch 18/50
1956/1956  17s 7ms/step - accuracy: 0.5018 - loss: 0.6932 - val_accuracy: 0.5007 - val_loss: 0.6931
Epoch 19/50
1956/1956  21s 8ms/step - accuracy: 0.5011 - loss: 0.6932 - val_accuracy: 0.4993 - val_loss: 0.6932
Epoch 20/50
1956/1956  14s 7ms/step - accuracy: 0.5018 - loss: 0.6932 - val_accuracy: 0.5007 - val_loss: 0.6932
Epoch 21/50
1956/1956  21s 8ms/step - accuracy: 0.5010 - loss: 0.6932 - val_accuracy: 0.4993 - val_loss: 0.6932
Epoch 22/50
1956/1956  14s 7ms/step - accuracy: 0.4987 - loss: 0.6932 - val_accuracy: 0.5007 - val_loss: 0.6932
Epoch 23/50
1956/1956  15s 8ms/step - accuracy: 0.4988 - loss: 0.6932 - val_accuracy: 0.5007 - val_loss: 0.6932
Epoch 24/50
1956/1956  14s 7ms/step - accuracy: 0.4960 - loss: 0.6932 - val_accuracy: 0.4993 - val_loss: 0.6931
Epoch 25/50
1956/1956  15s 8ms/step - accuracy: 0.4972 - loss: 0.6932 - val_accuracy: 0.5007 - val_loss: 0.6931
Epoch 26/50
1956/1956  15s 7ms/step - accuracy: 0.5002 - loss: 0.6932 - val_accuracy: 0.4993 - val_loss: 0.6932
Epoch 27/50
1956/1956  14s 7ms/step - accuracy: 0.5028 - loss: 0.6932 - val_accuracy: 0.4993 - val_loss: 0.6932
Epoch 28/50
1956/1956  13s 7ms/step - accuracy: 0.5009 - loss: 0.6932 - val_accuracy: 0.4993 - val_loss: 0.6932
Epoch 29/50
1956/1956  14s 7ms/step - accuracy: 0.4993 - loss: 0.6932 - val_accuracy: 0.4993 - val_loss: 0.6932
Epoch 30/50
1956/1956  14s 7ms/step - accuracy: 0.5005 - loss: 0.6932 - val_accuracy: 0.4993 - val_loss: 0.6932
Epoch 31/50
1956/1956  15s 8ms/step - accuracy: 0.5008 - loss: 0.6932 - val_accuracy: 0.5007 - val_loss: 0.6931
Epoch 32/50
1956/1956  14s 7ms/step - accuracy: 0.5014 - loss: 0.6932 - val_accuracy: 0.4993 - val_loss: 0.6932
Epoch 33/50
1956/1956  15s 8ms/step - accuracy: 0.5049 - loss: 0.6931 - val_accuracy: 0.5007 - val_loss: 0.6931
Epoch 34/50
1956/1956  14s 7ms/step - accuracy: 0.5029 - loss: 0.6932 - val_accuracy: 0.4993 - val_loss: 0.6932
Epoch 35/50
1956/1956  16s 8ms/step - accuracy: 0.5012 - loss: 0.6932 - val_accuracy: 0.4993 - val_loss: 0.6932
Epoch 36/50
1956/1956  19s 7ms/step - accuracy: 0.4975 - loss: 0.6932 - val_accuracy: 0.4993 - val_loss: 0.6931
Epoch 37/50
1956/1956  13s 7ms/step - accuracy: 0.5035 - loss: 0.6932 - val_accuracy: 0.4993 - val_loss: 0.6932
Epoch 38/50
1956/1956  14s 7ms/step - accuracy: 0.4988 - loss: 0.6932 - val_accuracy: 0.5007 - val_loss: 0.6932
Epoch 39/50
1956/1956  22s 7ms/step - accuracy: 0.4985 - loss: 0.6932 - val_accuracy: 0.5007 - val_loss: 0.6931
Epoch 40/50
1956/1956  17s 9ms/step - accuracy: 0.4979 - loss: 0.6932 - val_accuracy: 0.4993 - val_loss: 0.6932
Epoch 41/50
1956/1956  14s 7ms/step - accuracy: 0.4986 - loss: 0.6932 - val_accuracy: 0.4993 - val_loss: 0.6932
Epoch 42/50
1956/1956  14s 7ms/step - accuracy: 0.4941 - loss: 0.6932 - val_accuracy: 0.4993 - val_loss: 0.6932
Epoch 43/50
1956/1956  13s 7ms/step - accuracy: 0.4998 - loss: 0.6932 - val_accuracy: 0.4993 - val_loss: 0.6932
Epoch 44/50
1956/1956  20s 7ms/step - accuracy: 0.5028 - loss: 0.6931 - val_accuracy: 0.4993 - val_loss: 0.6931
Epoch 45/50
1956/1956  12s 6ms/step - accuracy: 0.5022 - loss: 0.6932 - val_accuracy: 0.4993 - val_loss: 0.6932
Epoch 46/50
1956/1956  23s 7ms/step - accuracy: 0.4986 - loss: 0.6932 - val_accuracy: 0.5007 - val_loss: 0.6931
Epoch 47/50
1956/1956  12s 6ms/step - accuracy: 0.4954 - loss: 0.6932 - val_accuracy: 0.4993 - val_loss: 0.6932
Epoch 48/50
1956/1956  14s 7ms/step - accuracy: 0.5014 - loss: 0.6932 - val_accuracy: 0.5007 - val_loss: 0.6931
Epoch 49/50
1956/1956  13s 7ms/step - accuracy: 0.4948 - loss: 0.6932 - val_accuracy: 0.5007 - val_loss: 0.6931
Epoch 50/50
1956/1956  14s 7ms/step - accuracy: 0.4965 - loss: 0.6932 - val_accuracy: 0.5007 - val_loss: 0.6931

In [56]:
test_data['income'] = le.fit_transform(test_data['income'])
test_data['type_of_policy'] = test_data['type_of_policy'].map({'Silver': 0, 'Gold': 1, 'Platinum': 2})
test_data['num_policies'] = le.fit_transform(test_data['num_policies'])

In [55]:
print('income: ',test_data['income'].unique())
print('Gender: ',test_data['gender'].unique())
print('Area:  ',test_data['area'].unique())
print('Marital status: ',test_data['marital_status'].unique())
print('Number of Policies: ',test_data['num_policies'].unique())
print('policy: ',test_data['policy'].unique())
print('Type of policy: ',test_data['type_of_policy'].unique())
print("Number of policies: ",test_data['num_policies'].unique())

income:  [1 0 3 2]
Gender:  ['Female' 'Male']
Area:   ['Rural' 'Urban']
Marital status:  [0 1]
Number of Policies:  ['More than 1' '1']
policy:  ['B' 'A' 'C']
Type of policy:  ['Silver' 'Platinum' 'Gold']
Number of policies:  ['More than 1' '1']

In [60]:
# Convert columns to strings (if they contain Boolean values)
test_data['gender'] = test_data['gender'].astype(str)
test_data['area'] = test_data['area'].astype(str)
test_data['qualification'] = test_data['qualification'].astype(str)
test_data['policy'] = test_data['policy'].astype(str)

# Apply get_dummies
test_data = pd.get_dummies(test_data, columns=['gender', 'area', 'qualification', 'policy'])

In [62]:
test_data=test_data.applymap(lambda x:1 if x is True else (0 if x is False else x))

C:\Users\amgot\AppData\Local\Temp\ipykernel_11316\822201456.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  test_data=test_data.applymap(lambda x:1 if x is True else (0 if x is False else x))

In [72]:
test_data.head()

,id,income,marital_status,vintage,claim_amount,num_policies,type_of_policy,gender_Female,gender_Male,area_Rural,area_Urban,qualification_Bachelor,qualification_High School,qualification_Others,policy_A,policy_B,policy_C
0,89393,-0.100201,0,0.604469,-0.679572,1,-1.574316,1,0,1,0,0,1,0,0,1,0
1,89394,-1.176144,0,-0.271766,-0.081051,1,0.848443,1,0,0,1,0,1,0,1,0,0
2,89395,-0.100201,1,1.042587,-0.439008,1,-0.362936,0,1,1,0,0,1,0,0,1,0
3,89396,2.051685,1,-1.148001,-1.328578,1,-1.574316,1,0,1,0,1,0,0,0,1,0
4,89397,-1.176144,0,0.166352,2.947137,1,-1.574316,1,0,0,1,0,1,0,0,1,0

In [ ]:
test_cols_to_scale=['claim_amount','income','vintage','type_of_policy']
test_data[test_cols_to_scale]=scaler.fit_transform(test_data[test_cols_to_scale])

In [70]:
xx_test = test_data.copy()

In [71]:
xx_test = xx_test.drop(['id'], axis=1)

In [69]:
print("Model input shape:", model.input_shape)
print("Test data shape:", X_test.shape)

Model input shape: (None, 18)
Test data shape: (59595, 16)